@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Inicio";
}

<section class="grid-2">
    <div class="panel">
        <span class="badge-soft">Frontend ASP.NET MVC</span>

        <h1 class="page-title">SafeTunnel</h1>

        <div class="page-subtitle">
            Simulador educativo de comunicación segura mediante VPN
        </div>

        <p class="page-text">
            SafeTunnel permite visualizar de forma sencilla cómo viajan los datos
            cuando se envían sin protección y cómo cambia el proceso cuando se utiliza
            una conexión VPN simulada.
        </p>

        <p class="page-text">
            El sistema integra conceptos de Ingeniería de Software, Redes 3 y Seguridad
            de Sistemas mediante una aplicación web con simulación visual, cifrado,
            rutas de comunicación y análisis de riesgo.
        </p>

        <div class="hero-actions">
            <a asp-controller="Home" asp-action="Simulador" class="btn-primary-soft">
                Iniciar simulación
            </a>
        </div>
    </div>

    <div class="panel">
        <h2 style="margin-top:0; color:#13254b;">Comparación rápida</h2>

        <div class="status-box red">
            Sin VPN: datos visibles
        </div>
        <div class="route-line">
            Usuario → Router → Internet público → Servidor final
        </div>

        <div class="status-box green">
            Con VPN: datos protegidos
        </div>
        <div class="route-line">
            Usuario → Router → Túnel VPN cifrado → Servidor VPN → Servidor final
        </div>

        <p class="page-text">
            Esta comparación ayuda a comprender por qué una VPN puede proteger la
            información durante la transmisión.
        </p>
    </div>
</section>

<section style="margin-top:28px;">
    <div class="grid-3">
        <div class="info-card">
            <h3>Ingeniería de Software</h3>
            <p>
                Desarrollo de interfaz web, formularios, navegación, controladores,
                vistas, validaciones y estructura del sistema.
            </p>
        </div>

        <div class="info-card">
            <h3>Seguridad de Sistemas</h3>
            <p>
                Cifrado de mensajes, protección de datos, análisis de riesgo,
                recomendaciones e integridad de la información.
            </p>
        </div>

        <div class="info-card">
            <h3>Redes 3</h3>
            <p>
                Representación de IP origen, IP destino, router, paquetes,
                servidor VPN y túnel seguro de comunicación.
            </p>
        </div>
    </div>
</section>